@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
*::-moz-selection {
  background-color: rgba(3, 20, 32, 0.6980392157);
  color: #ffffff;
}
*::selection {
  background-color: rgba(3, 20, 32, 0.6980392157);
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background-color: #122432;
}
nav .left {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav .left h1 {
  color: #f2f2f4;
  font-size: 2.2rem;
  font-weight: 800;
}
nav .left ul {
  display: flex;
  gap: 1rem;
}
nav .left ul li {
  list-style: none;
}
nav .left ul li a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #79838d;
  transition: 200ms all;
}
nav .left ul li a:hover {
  color: #ffffff;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .right a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #79838d;
  transition: 200ms all;
}
nav .right a:hover {
  color: #ffffff;
}
nav .right button {
  padding: 0.7rem 1.2rem;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  color: rgba(18, 36, 50, 0.9647058824);
  font-weight: bold;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #122432;
  border-radius: 0rem 0rem 0rem 2.5rem;
  padding: 1rem 0;
  height: 25rem;
}
section .headData {
  max-width: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 2rem;
}
section .headData p:first-child {
  color: #79838d;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0;
  padding: 0;
}
section .headData h1 {
  font-size: 3rem;
  color: #fbfcfb;
  line-height: 3rem;
}
section .headData p {
  color: #79838d;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0.4rem 0;
  line-height: 1.3rem;
}
section .headData .btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
section .headData .btn button {
  padding: 1rem 1.8rem;
  border-radius: 100px;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: rgb(18, 36, 50);
}
section .headData .btn a {
  font-size: 1.1rem;
  padding: 0 0.5rem;
  text-decoration: none;
  color: #ffffff;
}
section form {
  margin-top: 23rem;
  box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.466);
}
section form div {
  max-width: 27rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 3rem 2rem;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}
section form div input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 7px;
  border: 2px solid rgba(18, 36, 50, 0.226);
  color: rgba(18, 36, 50, 0.877);
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  font-weight: 500;
}
section form div input::-moz-placeholder {
  font-size: 0.8rem;
  color: rgba(18, 36, 50, 0.719);
}
section form div input::placeholder {
  font-size: 0.8rem;
  color: rgba(18, 36, 50, 0.719);
}
section form div button {
  padding: 1rem 0;
  width: 100%;
  border-radius: 7px;
  border: none;
  color: rgba(255, 255, 255, 0.9098039216);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(18, 36, 50);
  cursor: pointer;
}
section form div p {
  color: rgba(18, 36, 50, 0.863);
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.2rem;
}
section form div p a {
  color: rgba(18, 36, 50, 0.863);
}/*# sourceMappingURL=App.css.map */